<% if @client.errors.any? %>
    <p>Você deve corrigir os seguintes erros para continuar:</p>
    <% @client.errors.full_messages.each do |message| %>
        <div class="alert alert-danger" role="alert"><%= message %></div>
    <% end %>
<% end %>

<%= form_for @client do |f| %>
  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.label :name, 'Nome' %>
      <%= f.text_field :name, class: "col", placeholder: "João da Silva" %>
    </div>
    <div class="form-group col-md-6">
		  <%= f.label :cpf, 'CPF' %>
      <%= f.text_field :cpf, class: "col", placeholder: "123.456.789-10" %>
    </div>
    <div class="form-group col-md-12">
		  <%= f.label :email, 'Email' %>
      <%= f.text_field :email, class: "col", placeholder: "joao@email.com" %>
    </div>
  </div>
  <%= f.submit 'Enviar', class: "btn btn-primary mt-3 float-right"%>
    
<% end %>