<% if @subsidiary.errors.any? %>
    <p>Você deve corrigir os seguintes erros para continuar:</p>
    <% @subsidiary.errors.full_messages.each do |message| %>
        <div class="alert alert-danger" role="alert"><%= message %></div>
    <% end %>
<% end %>

<%= form_for @subsidiary do |f| %>
    <div class="form-row">
        <div class="form-group col-md-6">
            <%= f.label :name %>
            <%= f.text_field :name, class: "col", placeholder: "Loca Car" %>
        </div>
        <div class="form-group col-md-6">
            <%= f.label :cnpj %>
            <%= f.text_field :cnpj, class: "col", placeholder: "75.980.885/0001-31" %>
        </div>
        <div class="form-group col-md-12">
            <%= f.label :address %>
            <%= f.text_field :address, class: "col", placeholder: "Av. das Américas, 419" %>
        </div>
    </div>
    <%= f.submit 'Enviar', class: "btn btn-primary mt-3 float-right" %>
<% end %>