<div class="item-show">
	<strong>Nome:</strong>
	<%= @subsidiary.name %>
	<br>
	<strong>CNPJ:</strong>
	<%= @subsidiary.cnpj %>
	<br>
	<strong>Endereço:</strong>
	<%= @subsidiary.address %>
	<br>
</div>

<div class="icons-show">
	<div class="single-icon">
		<%= link_to icon('fas', 'pencil-alt', id: 'edit'), edit_subsidiary_path(@subsidiary), class: 'btn btn-warning' %>
	</div>
	<div class="single-icon">
		<%= link_to icon('fas', 'trash', id: 'delete'), @subsidiary, method: :delete, data: { confirm: 'Você tem certeza?' }, class: 'btn btn-danger' %>
	</div>
</div>

<hr>
<div class="aligned-buttons">
	<%= link_to 'Voltar', root_path, class: 'btn btn-primary' %>
</div>