<% if @car_category.errors.any? %>
    <p>Você deve corrigir os seguintes erros para continuar:</p>
    <% @car_category.errors.full_messages.each do |message| %>
        <p><%= message %></p>
    <% end %>
<% end %>

<%= form_for @car_category do |f| %>
<div class="form-row align-items-center">
    <div class="col-md-4 mt-3">
        <%= f.label :name, 'Nome' %>
        <%= f.text_field :name %>
    </div>  
    <div class="col-md-4 mt-3">
        <%= f.label :daily_rate, 'Diária' %>
        <%= f.text_field :daily_rate %>
    </div>
    <div class="col-md-4 mt-3">
        <%= f.label :car_insurance, 'Seguro' %>
        <%= f.text_field :car_insurance %>
    </div>
    <div class="col-md-4 mt-3">
        <%= f.label :third_party_insurance, 'Seguro contra terceiros' %>
        <%= f.text_field :third_party_insurance %>
    </div>
    </div>
    <%= f.submit 'Enviar', class: "btn btn-primary mt-3 float-right" %>
<% end %>