<% if @car_category.errors.any? %>
    <p>Você deve corrigir os seguintes erros para continuar:</p>
    <% @car_category.errors.full_messages.each do |message| %>
        <p><%= message %></p>
    <% end %>
<% end %>

<%= form_for @car_category do |f| %>
    <%= f.label :name, 'Nome' %>
    <%= f.text_field :name %>
    <%= f.label :daily_rate, 'Diária' %>
    <%= f.text_field :daily_rate %>
    <%= f.label :car_insurance, 'Seguro' %>
    <%= f.text_field :car_insurance %>
    <%= f.label :third_party_insurance, 'Seguro contra terceiros' %>
    <%= f.text_field :third_party_insurance %>
    <%= f.submit 'Enviar' %>
<% end %>