<div class="register-model">
    <%= link_to 'Agendar nova locação', new_rental_path, class: 'btn btn-primary' %>
</div>

<%= form_tag search_rentals_path, method: :get do %>
  <%= label_tag :q, 'Pesquisar' %>
  <%= text_field_tag :q %>
  <%= submit_tag 'Buscar' %>
<% end %>

<% if @rentals.empty? %>
  <p>Nenhuma locação agendada</p>
<% end %> 

 <% @rentals.each do |rental| %>
    <%= link_to rental.code, rental, class: "card bg-light mb-3" %>
<% end %>

