<p>Foram encontrado(s) <%= @rentals.count %> resultado(s) para a 
pesquisa '<%= @search %>'</p> 

<% @rentals.each do |rental| %>
	<div>
		<p>Código: <%= rental.code %></p>
	</div>
	<div>
		<p>Nome do cliente: <%= rental.client.name %></p>
		<p>Email: <%= rental.client.email %></p>
	</div>
<% end %>

<div class="aligned-buttons">
	<%= link_to 'Voltar', rentals_path, class: 'btn btn-primary' %>
</div>