<span class="badge badge-info"><div>Status: <%= Rental.human_attribute_name(@rental.status) %></div></span>

<% if @rental.cancelled? %>
	<h4><%= Rental.human_attribute_name(:cancellation_reason)%>: <span><%= @rental.cancellation_reason %></span></h3>
<% end %>

<div class="item-show">	
	<strong><%= Rental.human_attribute_name(:code) %>:</strong>
	<%= @rental.code %>
	<br>
	<strong><%= Rental.human_attribute_name(:start_date) %>:</strong>
	<%= I18n.localize(@rental.start_date, formats: :default) %>
	<br>
	<strong><%= Rental.human_attribute_name(:end_date) %>:</strong>
	<%= I18n.localize(@rental.end_date, formats: :default) %>
	<br>
	<strong><%= Rental.human_attribute_name(:user_email) %>:</strong>
	<%= @rental.user.email %>
	<br>
	<strong><%= Rental.human_attribute_name(:car_category) %>:</strong>
	<%= @rental.car_category.name %>
	<br>
	<strong><%= Rental.human_attribute_name(:client) %>:</strong>
	<%= "#{@rental.client.cpf} - #{@rental.client.name}" %>
	<br>
	<strong><%= Rental.human_attribute_name(:client_email) %>:</strong>
	<%= @rental.client.email %>
	<br>
</div>

<div class="icons-show">
	<div class="single-icon">
		<%= link_to icon('fas', 'pencil-alt', id: 'edit'), edit_rental_path(@rental), class: 'btn btn-warning' %>
	</div>
</div>
<%# <%= link_to link_to icon('fas', 'trash', id: 'delete'), @rental, method: :delete, data: { confirm: 'Você tem certeza?' }, class: 'btn btn-danger' %>
<hr>

<div class="aligned-buttons">
	<%= link_to 'Voltar', root_path, class: 'btn btn-primary' %>
</div>


<%= link_to 'Efetivar', effect_rental_path(@rental), class: 'btn btn-primary' if @rental.status == 'scheduled' %>
<%= link_to 'Cancelar', cancel_rental_path(@rental), class: 'btn btn-danger' if Rental.can_be_cancelled?(@rental) && !@rental.cancelled? && !@rental.in_progress? %>
