<%= @rental.code %>
<%= @rental.start_date.strftime("%d/%m/%Y") %>
<%= @rental.end_date.strftime("%d/%m/%Y") %>
<%= @rental.user.email %>
<%= @rental.car_category.name %>
<%= "#{@rental.client.cpf} - #{@rental.client.name}" %>
<%= @rental.client.email %>

<%= link_to icon('fas', 'pencil-alt', id: 'edit'), edit_rental_path(@rental), class: 'btn btn-warning' %>
<%# <%= link_to link_to icon('fas', 'trash', id: 'delete'), @rental, method: :delete, data: { confirm: 'Você tem certeza?' }, class: 'btn btn-danger' %>
<hr>

<div class="aligned-buttons">
	<%= link_to 'Voltar', root_path, class: 'btn btn-primary' %>
</div>

<%= link_to 'Efetivar locação', effect_rental_path(@rental), class: 'btn btn-primary' if @rental.car_rentals.empty? %>
	