<div class="item-show">		
	<strong><%= Car.human_attribute_name(:name) %>:</strong>
	<%= @car.car_model.name %>
	<br>
	<strong><%= Car.human_attribute_name(:license_place) %>:</strong>
	<%= @car.license_plate %>
	<br>
	<strong><%= Car.human_attribute_name(:color) %>:</strong>
	<%= @car.color %>
	<br>	
	<strong><%= Car.human_attribute_name(:subsidiary) %>:</strong>
	<%= @car.subsidiary.name %>
	<br>	
	<strong><%= Car.human_attribute_name(:mileage) %>:</strong>
	<%= number_to_human(@car.mileage, units: :distance) %>
	<br>
	<strong><%= Car.human_attribute_name(:status) %>:</strong>
	<%= Car.human_attribute_name(@car.status) %>
	<br>
</div>


<div class="aligned-buttons">
	<%= link_to 'Voltar', root_path, class: 'btn btn-primary' %>
</div>