<div class="item-show">		
	<strong>Nome:</strong>
	<%= @car.car_model.name %>
	<br>
	<strong>Placa:</strong>
	<%= @car.license_plate %>
	<br>
	<strong>Cor:</strong>
	<%= @car.color %>
	<br>	
	<strong>Filial:</strong>
	<%= @car.subsidiary.name %>
	<br>	
	<strong>Quilometragem:</strong>
	<%= @car.mileage %>KM
	<br>
	<strong>Status:</strong>
	<%= @car.status %>
	<br>
</div>


<div class="aligned-buttons">
	<%= link_to 'Voltar', root_path, class: 'btn btn-primary' %>
</div>