<%= @car.car_model.name %>
<%= @car.license_plate %>
<%= @car.color %>
<%= @car.subsidiary.name %>
<%= @car.mileage %>
<%= @car.status %>


<div class="aligned-buttons">
	<%= link_to 'Voltar', root_path, class: 'btn btn-primary' %>
</div>