<% if @manufacturer.errors.any? %>
    <p>Você deve corrigir os seguintes erros para continuar:</p>
    <% @manufacturer.errors.full_messages.each do |message| %>
        <p><%= message %></p>
    <% end %>
<% end %>

<%= form_for @manufacturer do |f| %>
    <div class="form-row align-items-center">
        <div class="col-md-4 mt-3">
            <%= f.label :name, 'Nome' %>
            <%= f.text_field :name %>
        </div>  
    </div>
    <%= f.submit 'Enviar', class: "btn btn-primary mt-3 float-right" %>
<% end %>