<% if @manufacturer.errors.any? %>
    <p>Você deve corrigir os seguintes erros para continuar:</p>
    <% @manufacturer.errors.full_messages.each do |message| %>
        <div class="alert alert-danger" role="alert"><%= message %></div>
    <% end %>
<% end %>

<%= form_for @manufacturer do |f| %>
    <div class="form-row">
        <div class="form-group col-md-12">
            <%= f.label :name, 'Nome' %>
            <%= f.text_field :name, class: "col", placeholder: "Fiat" %>
        </div>  
    </div>
    <%= f.submit 'Enviar', class: "btn btn-primary mt-3 float-right" %>
<% end %>