<div class="item-show">	
	<strong><%= Manufacturer.human_attribute_name(:name) %>:</strong>
	<%= @manufacturer.name %>
	<br>
</div>

<div class="icons-show">
	<div class="single-icon">
		<%= link_to icon('fas', 'pencil-alt', id: 'edit'), edit_manufacturer_path(@manufacturer), class: 'btn btn-warning' %>
	</div>	
	<div class="single-icon">
		<%= link_to icon('fas', 'trash-alt', id: 'delete'), @manufacturer, method: :delete, data: { confirm: 'Tem certeza?' }, class: 'btn btn-danger' %>
	</div>
</div>

<hr>

<div class="aligned-buttons">
	<%= link_to 'Voltar', root_path, class: 'btn btn-primary' %>
</div>