<% if @car_model.errors.any? %>
    <p>Você deve corrigir os seguintes erros para continuar:</p>
    <% @car_model.errors.full_messages.each do |message| %>
        <div class="alert alert-danger" role="alert"><%= message %></div>
    <% end %>
<% end %>

<%= form_for @car_model do |f| %>
    <div class="form-row">
        <div class="form-group col-md-6">
            <%= f.label :name, 'Nome' %>
            <%= f.text_field :name, class: "col-md", placeholder: "Onyx" %>
        </div>
        <div class="form-group col-md-6">
            <%= f.label :year, 'Ano' %>
            <%= f.text_field :year, class: "col-md", placeholder: "2020" %>
        </div>
        <div class="form-group col-md-6">
            <%= f.label :motorization, 'Cavalos' %>
            <%= f.text_field :motorization, class: "col-md", placeholder: "2.0" %>
        </div>
        <div class="form-group col-md-3">
            <%= f.label :manufacturer_id, "Fabricante" %>
            <%= f.collection_select :manufacturer_id, @manufacturers, :id, :name, {include_blank: false}, {class: 'custom-select'} %>
        </div>
        <div class="form-group col-md-3">
            <%= f.label :car_category_id, 'Categoria' %>
            <%= f.collection_select :car_category_id, @car_categories, :id, :name, {include_blank: false}, {class: 'custom-select'} %>
        </div>
        <div class="form-group col-md-12">
            <%= f.label :fuel_type, 'Tipo de Combustivel' %>
            <%= f.text_field :fuel_type, class: "col-md", placeholder: "Gasolina" %>
        </div>
    </div>
    <%= f.submit 'Enviar', class: "btn btn-primary mt-3 float-right" %>
<% end %>