<h1>Novo Modelo</h1>

<%= form_for @car_model do |f| %>
    <%= f.label :name, 'Nome' %>
    <%= f.text_field :name %>
    <%= f.label :year, 'Ano' %>
    <%= f.text_field :year %>
    <%= f.label :manufacturer_id, 'Fabricante' %>
    <%= f.collection_select :manufacturer_id, @manufacturers, :id, :name %>
    <%= f.label :motorization, 'Cavalos' %>
    <%= f.text_field :motorization %>
    <%= f.label :car_category_id, 'Categoria' %>
    <%= f.collection_select :car_category_id, @car_categories, :id, :name %>
    <%= f.label :fuel_type, 'Combustivel' %>
    <%= f.text_field :fuel_type %>
    <%= f.submit 'Enviar' %>
<% end %>