<div class="item-show">
	<strong><%= CarModel.human_attribute_name(:name) %>:</strong>
	<%= @car_model.name %>
	<br>
	<strong><%= CarModel.human_attribute_name(:year) %>:</strong>
	<%= @car_model.year %>
	<br>
	<strong><%= CarModel.human_attribute_name(:manufacturer) %>:</strong>
	<%= @car_model.manufacturer.name %>
	<br>
	<strong><%= CarModel.human_attribute_name(:motorization) %>:</strong>
	<%= @car_model.motorization %>
	<br>
	<strong><%= CarModel.human_attribute_name(:car_category) %>:</strong>
	<%= @car_model.car_category.name %>
	<br>
	<strong><%= CarModel.human_attribute_name(:fuel_type) %>:</strong>
	<%= @car_model.fuel_type %>
	<br>
</div>

<div class="icons-show">
	<div class="single-icon">
		<%= link_to icon('fas', 'pencil-alt', id: 'edit'), edit_car_model_path(@car_model), class: 'btn btn-warning' %>
	</div>
	<div class="single-icon">
		<%= link_to icon('fas', 'trash-alt', id: 'delete'), @car_model, method: :delete, data: { confirm: 'Tem certeza?' }, class: 'btn btn-danger' %>
	</div>	
</div>
<hr>
<div class="aligned-buttons">
	<%= link_to 'Voltar', root_path, class: 'btn btn-primary' %>
</div>