<!DOCTYPE html>
<html>
  <head>
    <title>RentalCars</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>
      <% if user_signed_in? %>
        <%= link_to 'Sair', destroy_user_session_path, method: :delete %>
        <%= link_to 'Categorias de Carros', car_categories_path %>
      <% else %>
        <%= link_to 'Entrar', new_user_session_path %>
      <% end %>
      <%= link_to 'Fabricantes', manufacturers_path %>
      <%= link_to 'Filiais', subsidiaries_path %>
      <%= link_to 'Clientes', clients_path %>
      <%= link_to 'Modelos de carro', car_models_path %>
    </nav>

    <%= notice %>
    <%= alert %>
    <%= yield %>
  </body>
</html>
